// First paletts colors
$white: #FFF;
$isabelline: #EEEDED;
$spanish-gray: #989797;

// Second paletts colors
$coral: rgb(250, 233, 76);
$buff: #F1DD7B;
$vanilla: #F5E7A1;

// Third paletts colors
$flame: #E4572E;
$light-red-ochre: #E87554;
$pastel-pink: #E2B2A0;

// Fourth paletts colors
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;

// Fifth paletts colors
$blue-de-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;

// Sixth paletts colors
$black: #000;
$outer-space: #454545;
$quick-silver: #A2A2A2;

// Typography
$mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

// Typefaces
$regular: 400; 
$light: 300;

// Font Size
$xxx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;